:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Import theme colors from App.css */
  --parrot-primary: #00D0AF;
  --parrot-secondary: #04A287;
  --parrot-background: #F8F3BB;
  --parrot-accent: #9DE0C0;
  --parrot-light: #FFFDE9;
  
  --owl-primary: #E07231;
  --owl-secondary: #AD531F;
  --owl-background: #E6D070;
  --owl-accent: #EDE08A;
  --owl-dark: #733C01;
}

a {
  font-weight: 500;
  color: var(--parrot-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--parrot-primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--owl-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--parrot-accent);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--owl-dark);
    background-color: white;
  }
  a:hover {
    color: var(--parrot-primary);
  }
  button {
    background-color: var(--parrot-accent);
  }
}
